@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}
.wrapper .sidebar .logout {
  position: absolute;
  bottom: 0;
  left: 0; /* Ubah left menjadi 0 */
  width: 200px; /* Ubah lebar sesuai dengan lebar sidebar */
  display: flex;
  justify-content: center; /* Menyamakan posisi horizontal */
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .header{
  width: 100%;
  margin-left: 200px;
}

.wrapper .header .welcome{
  padding: 30px;
  background: #332c56;
  color: white;
  border-bottom: 1px solid #bdb8d7;
  font-size: 3vh;
}
.wrapper .header .welcome p{
  font-size: small;
  margin-top: 10px;
  font-style: normal;
}


/* Tambahkan gaya untuk dropdown list */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4b4276;
  min-width: 160px;
  margin-top: 20px;
}

.dropdown-content li {
  color: #bdb8d7;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Tambahkan gaya untuk fa-caret-down */
.dropdown .fas.fa-caret-down {
  position: absolute;
  top: 50%;
  right: 10px; /* Sesuaikan jarak dari kanan */
  transform: translateY(-50%);
}



/* Tambahkan gaya untuk dropdown */
.dropdown {
  position: relative;
  width: 200px;
}

/*container pembimbing dan penguji*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4b4276;
  min-width: 160px;
  z-index: 1;
  left: 13%;
}

.dropdown .dropdown-content {
  display: block;
}
.dropdown .fas.fa-caret-down {
  position: absolute;
  top: 50%;
  right: 10px; /* Sesuaikan jarak dari kanan */
  transform: translateY(-50%);
  color: white;
}
.wrapper .header .Koordinator-TA{
  position: absolute;
  font-size: 15px;
  display: block;
  top: 30px;
  right: 30px;
  background-color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  float: left; /* Pindahkan ikon ke kiri */
}

.wrapper .header .Koordinator-TA a{
  color: black;
  padding-right: 10px;
}
.wrapper .header .Koordinator-TA span{
margin-left: 10px;
}
